In [2]:
import pandas as pd
import numpy as np
import geocoder

In [3]:
sensor = pd.read_csv('ParkingSensorData.csv')

/Users/Grace/anaconda/envs/fastai/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
sensor.drop(sensor.tail(1).index, inplace=True)

In [11]:
sensor.head()

,BLOCK_ID,STREET_NAME,BLOCK_NUM,STREET_BLOCK,AREA_TYPE,PM_DISTRICT_NAME,RATE,START_TIME_DT,TOTAL_TIME,TOTAL_OCCUPIED_TIME,...,GMP_UNKNOWN_TIME,COMM_TIME,COMM_OCCUPIED_TIME,COMM_VACANT_TIME,COMM_UNKNOWN_TIME,CAL_MONTH_NAME,CAL_YEAR,CAL_DATE,DAY_TYPE,TIME_OF_DAY
0,41522,FILLMORE ST,22.0,FILLMORE ST 2200,Pilot,Fillmore,NaN,01-jul-2012 21:00:00,61200.0,35847.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,2100.0
1,41524,FILLMORE ST,24.0,FILLMORE ST 2400,Pilot,Fillmore,NaN,01-jul-2012 22:00:00,64800.0,27576.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,2200.0
2,50001,JACKSON ST,1.0,JACKSON ST 100,Pilot,Downtown,NaN,01-jul-2012 02:00:00,79200.0,39985.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,200.0
3,50002,JACKSON ST,2.0,JACKSON ST 200,Pilot,Downtown,NaN,01-jul-2012 08:00:00,82800.0,30465.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,800.0
4,10903,09TH AVE,3.0,09TH AVE 300,Control,Inner Richmond,NaN,01-jul-2012 08:00:00,93600.0,85690.0,...,0.0,0.0,0.0,0.0,0.0,July,2012.0,01-jul-2012,weekend,800.0

In [54]:
uniqueblock = list(sensor.STREET_BLOCK.unique())

In [14]:
def geocode(address):
    add = "%s, San Francisco, CA" %(address)
    cord = geocoder.google(add).latlng
    return cord

In [51]:
#set minibatch index list
n = len(uniqueblock)
l = np.arange(0,n,10)
if  n%10 != 0:
    l = np.append(l,n)

In [61]:
#geocode by small batch of 10
geo = []
for i in range(len(l)-1):
    blockgeo = [geocode(block) for block in uniqueblock[l[i]:l[i+1]]]
    geo = geo + blockgeo

In [68]:
#fill the Nones due to API
for i in range(len(geo)):
    if geo[i] == None:
        geo[i] = geocode(uniqueblock[i])

In [69]:
#Check None)
len([g for g in geo if g == None])

0

In [79]:
geoblock = pd.DataFrame({"Street_Block": uniqueblock, "Geocode": geo})[["Street_Block","Geocode"]]

In [80]:
geoblock.head()

       Street_Block                     Geocode
0  FILLMORE ST 2200  [37.7900066, -122.4339023]
1  FILLMORE ST 2400  [37.7917689, -122.4341879]
2    JACKSON ST 100  [37.7970989, -122.3983614]
3    JACKSON ST 200  [37.7967346, -122.3999102]
4      09TH AVE 300  [37.7827927, -122.4676431]

In [81]:
geoblock['lat'] = geoblock['Geocode'].apply(lambda x:x[0])
geoblock['lng'] = geoblock['Geocode'].apply(lambda x:x[1])

In [82]:
geoblock

,Street_Block,Geocode,lat,lng
0,FILLMORE ST 2200,"[37.7900066, -122.4339023]",37.790007,-122.433902
1,FILLMORE ST 2400,"[37.7917689, -122.4341879]",37.791769,-122.434188
2,JACKSON ST 100,"[37.7970989, -122.3983614]",37.797099,-122.398361
3,JACKSON ST 200,"[37.7967346, -122.3999102]",37.796735,-122.399910
4,09TH AVE 300,"[37.7827927, -122.4676431]",37.782793,-122.467643
5,10TH AVE 300,"[37.7827304, -122.4687219]",37.782730,-122.468722
6,14TH AVE 2800,"[37.7379624, -122.4690183]",37.737962,-122.469018
7,BERRY ST 100,"[37.7734893, -122.3964525]",37.773489,-122.396452
8,BERRY ST 200,"[37.775109, -122.394747]",37.775109,-122.394747
9,FILLMORE ST 3100,"[37.7982378, -122.4355948]",37.798238,-122.435595
10,FILLMORE ST 3200,"[37.79911, -122.4357384]",37.799110,-122.435738
11,JACKSON ST 400,"[37.7966327, -122.4018831]",37.796633,-122.401883
12,JACKSON ST 2300,"[37.7926875, -122.4329514]",37.792687,-122.432951
13,01ST ST 200,"[37.7885514, -122.3960253]",37.788551,-122.396025
14,CALIFORNIA ST 2300,"[37.7894729, -122.4324576]",37.789473,-122.432458
15,CALIFORNIA ST 2400,"[37.788914, -122.4338765]",37.788914,-122.433876
16,CHESTNUT ST 2100,"[37.8008417, -122.4380759]",37.800842,-122.438076
17,FILLMORE ST 3300,"[37.7999782, -122.4360446]",37.799978,-122.436045
18,FOLSOM ST 500,"[37.78733769999999, -122.3946506]",37.787338,-122.394651
19,JONES ST 2800,"[37.8071494, -122.4172899]",37.807149,-122.417290
20,02ND ST 300,"[37.7855433, -122.3967089]",37.785543,-122.396709
21,CHESTNUT ST 2400,"[37.8001345, -122.4430571]",37.800134,-122.443057
22,FRANKLIN ST 300,"[37.7773775, -122.4211337]",37.777378,-122.421134
23,FRANKLIN ST 400,"[37.7787818, -122.4216838]",37.778782,-122.421684
24,MARKET ST 0,"[37.7944464, -122.3950207]",37.794446,-122.395021
25,02ND ST 500,"[37.782817, -122.3937886]",37.782817,-122.393789
26,03RD ST 400,"[37.78220100000001, -122.397332]",37.782201,-122.397332
27,CLAY ST 200,"[37.7953923, -122.3980215]",37.795392,-122.398021
28,CLAY ST 300,"[37.7954528, -122.399213]",37.795453,-122.399213
29,FREMONT ST 0,"[37.791596, -122.3981506]",37.791596,-122.398151
...,...,...,...,...
377,BEACH ST 800,"[37.8063917, -122.4225976]",37.806392,-122.422598
378,FILLMORE ST 1600,"[37.78453, -122.4329762]",37.784530,-122.432976
379,SUTTER ST 2000,"[37.786093, -122.4333131]",37.786093,-122.433313
380,NORTH POINT ST 200,"[37.8069743, -122.4105401]",37.806974,-122.410540
381,VICENTE ST 0,"[37.7391754, -122.4661794]",37.739175,-122.466179
382,FILLMORE ST 1700,"[37.7853703, -122.4327894]",37.785370,-122.432789
383,EMBARCADERO SOUTH 400,"[37.7894745, -122.3886065]",37.789474,-122.388606
384,MISSION ST 2000,"[37.7652204, -122.4196914]",37.765220,-122.419691
385,FELL ST 100,"[37.7764868, -122.4192638]",37.776487,-122.419264
386,VAN NESS AVE 500,"[37.7802979, -122.4200025]",37.780298,-122.420002
387,WASHINGTON ST 400,"[37.7960949, -122.398842]",37.796095,-122.398842
388,VAN NESS AVE 100,"[37.77674340000001, -122.4190723]",37.776743,-122.419072
389,WASHINGTON ST 0,"[37.7958762, -122.4005604]",37.795876,-122.400560
390,HOWARD ST 600,"[37.7867825, -122.397779]",37.786783,-122.397779
391,VAN NESS AVE 300,"[37.7782877, -122.4198311]",37.778288,-122.419831
392,VICENTE ST 100,"[37.7399058, -122.4675097]",37.739906,-122.467510
393,SPEAR ST 0,"[37.7938039, -122.3956732]",37.793804,-122.395673
394,NEW MONTGOMERY ST 0,"[37.7883691, -122.401615]",37.788369,-122.401615
395,PINE ST 200,"[37.7923595, -122.4001359]",37.792360,-122.400136
396,BAY ST 400,"[37.80585689999999, -122.4138534]",37.805857,-122.413853
397,MISSION ST 2100,"[37.7632406, -122.4197824]",37.763241,-122.419782
398,MISSION ST 2200,"[37.7616992, -122.4196511]",37.761699,-122.419651
399,MISSION ST 2600,"[37.7552872, -122.4192514]",37.755287,-122.419251
400,HAYES ST 200,"[37.777295, -122.4197919]",37.777295,-122.419792
401,MISSION ST 2300,"[37.760094, -122.419495]",37.760094,-122.419495
402,STEVENSON ST 0,"[37.7905944, -122.3986261]",37.790594,-122.398626
403,MISSION ST 2400,"[37.75846000000001, -122.419335]",37.758460,-122.419335
404,19TH ST 3400,"[37.7602391, -122.4192389]",37.760239,-122.419239
405,17TH ST 3200,"[37.7636667, -122.4176344]",37.763667,-122.417634
406,17TH ST 3300,"[37.763444, -122.4195514]",37.763444,-122.419551

In [83]:
geoblock.to_csv("geoblock",index = False)